@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anta&family=DM+Serif+Display:ital@0;1&family=Dekko&family=Exo:ital,wght@0,100..900;1,100..900&family=Madimi+One&family=Offside&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face{
    font-family: Paris;
    src: url(../font/Paris2024-Variable.ttf);
}

:root{
    --cor-primaria: /*#d9bf71;*/#E2AA44;
    --cor-secundaria: #0d0d0d;
    --cor-fundo: #f2f2f2;
    --cor-pag-02: #002366;
    --cor-pag-03: #02382f;
    --cor-pag-04: #341269;
    --cor-r: #002672;
    --cor-flag-france: #f2293a;


    --fonte-titulo: "Philosopher";
    --fonte-texto: "Exo";
    --font-dekko: "Dekko";
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--cor-fundo);
    width: 100%;
    height: 100vh;
}

/*Começo do Navbar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-primaria);
    position: fixed;
    z-index: 3;
    width: 100%;
    padding: 10px 2%;
}

li, a {
    font-family: Paris;
    font-size: 1.5rem;
    font-weight: 500;
    color: #1f1f1f;
    text-decoration: none;
}

.logo{
    cursor: pointer;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    display: inline-block;
    padding: 0px 20px;
    width: auto;
    position: relative;
}

.nav-list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #978C7C;
    transition: .5s;
}

.nav-list li:hover::before{
    width: 70px;
}

.nav-list li a{
    color: #f2f2f2;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
/*Fim do Navbar*/

/*Começo do Conteúdo*/
.apresentacao{
    width: 75%;
    margin: auto;
    padding: 2%;
    border-left: 2px solid #5f594f;
    border-right: 2px solid #5f594f;
    background-color: #f5f5f5;
    position: relative;
    z-index: 1;
}

.conteudo{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 30px;
    margin-top: 6rem;
}

.paragrafo{
    display: flex;
    font-family: "Exo";
    font-size: 1.3rem;
    color: var(--cor-secundaria);
}

.sub-titulo{
    font-family: "Philosopher";
    font-size: 2rem;
    text-align: center;
    background-color: var(--cor-primaria);
    padding: 2%;
    color: var(--cor-fundo);
    border: 3.5px solid var(--cor-secundaria);
    border-radius: 10px;
}

.subtitulo_sp{
    font-family: var(--fonte-titulo);
    font-weight: bolder;
    cursor: pointer;
    margin-top: 1rem;
}

.sports_brazil{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.locais_paris{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

.conteudo_locais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo_locais h4{
    margin: 1rem;
    font-size: 1.2rem;;
    font-family: var(--fonte-titulo);
    text-align: left;
}
/*Fim do Conteúdo*/

/*Início do Box Rio Sena e Mascote*/
.img-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
}

.img-box h4{
    margin: 0.6rem;
    display: flex;
    justify-content: left;
    font-family: var(--fonte-texto);
}

.box-mascot{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-top: 5rem;
}

.box-mascot-text{
    width: 100%;
    padding: 15px;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    /* background-image: linear-gradient(to right, #17B7B0 15%, #003853 65%); */
}

.box-mascot-text h2{
    margin-bottom: 15px;
    font-family: 'Paris';
    font-size: 1.7rem;
}

.box-mascot-text p{
    font-family: var(--fonte-texto);
    font-size: 1rem;
    margin-top: 1rem;
}

.box-mascot-img{
    width: 80%;
}

.box-mascot-img img{
    width: 100%;
}

/*Fim do Box Rio Sena e Mascote*/

.container_{
    display: flex;
    flex-direction: row;
}

.text{
    display: flex;
    font-family: 'Paris';
    justify-content: center;
    width: 100%;
    color: #d39f3f;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.lines{
    width: 600px;
    height: 2px;
    background-color: #978C7C;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*Fim do Box*/

/*Começo da estilização das Imagens*/

.container-image-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(200px,2fr)); */
    width: 100%;
    margin-top: 2rem;
}

.container-list-grid{
    list-style-type: none;
}

.container-img img{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
}

.container-img img:hover{
    box-shadow: 0 0 8px #1f1f1f;
    border-radius: 5px;
}

.container-text div h3{
    display: flex;
    justify-content: center;
}

.container-text h3{
    margin: 1rem;
    font-size: 1.2rem;
    font-family: var(--fonte-titulo);
}

.invalides-hidden{
    visibility: hidden;
}

.imagem_paris{
    width: 100%;
    border-radius: 5px;
    padding: 0;
    display: block;
    cursor: pointer;
}

.imagem_paris:hover{
    box-shadow: 0 0 8px #1f1f1f;
    border-radius: 5px;
}

.image_{
    width: 100%;
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
}

.image_city{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.image_city h4{
    padding: 3px;
    font-size: 1rem;
    font-family: var(--fonte-texto);
}

.image_city img{
    width: 100%;
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
}


/*Fim da estilização das Imagens*/

.box-tocha{
    display: flex;
    width: 100%;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 6em;
    gap: 110px;
}

.box-tocha-text{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.box-tocha-text h2{
    font-family: var(--fonte-titulo);
    text-align: center;
    margin: 3%;
    background-color: linear-gradient(to right, #978C7C, #f2f2f2);
    font-size: 2rem;
}

.box-tocha-text p{
    font-family: var(--fonte-texto);
    text-align: center;
    margin: 0% 3% 0% 3%;
    font-size: 1rem;
}

.box-tocha-img img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Começo do Card*/

.container{
    display: flex;
    justify-content: center;
}

.card-belem{
    background-color: #1f1f1f;
    width: 100%;
    height: 25rem;
    margin: 2em;
}


.card-map{
    background-color: #1f1f1f;
    width: 100%;
    height: 25rem;
    margin: 2em;
}

.card-image{
    background-color: #341269;
    margin: 0.5em;
    height: 15rem;
    background-size: cover;
}

.card-1{
    background-image: url(../images/veleiro_belem.jpg);
}

/*Fim do Card*/

/*Começo do Footer*/
footer{
    background-color: var(--cor-secundaria);
    padding-top: 20px;
}

.container-ft{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #f5f5f5;
    font-family: 'Exo';
    font-weight: bold;
}

.footer-content{
    width: 100%;
}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 250px;
    margin: auto;
    padding: 7px;
}

.footer-content ul{
    text-align: center;
}

.list{
    padding: 0;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li a{
    text-decoration: none;
    color: #f2f2f2;
}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #5f594f;
    transition: .5s;
}

.list li:hover::before{
    width: 70px;
}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 25px;
    font-size: 25px;
}

.social-icons .fa-linkedin{
    color:  #5f594f;
}

.social-icons .fa-instagram{
    color: #5f594f;
    font-weight: 600;
}

.social-icons .fa-github{
    color: #5f594f;
}

a:hover{
    color: #E2AA44;
}

.social-icons i:hover{
    transition: 0.3s ease;
    color: #0d0d0d;
}

.bottom-bar{
    background-color: #E2AA44;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    font-family: var(--fonte-texto);
    color: #0d0d0d;
    margin: 0;
    font-size: 15px;
}

/*Fim do Footer*/

.nav-list.active{
    transform: translateX(0);
}

/*Começo da Animação do Menu Mobile*/
@keyframes navLinksFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}
/*Fim da Animação do Menu Mobile*/

/*Large Tablets/ Laptops*/
@media (min-width: 1000px) and (max-width: 1199px){
    .container-image-grid{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    .container-list-grid{
        width: 100%;
    }
}

/*Small Tablets*/
@media (min-width: 768px) and (max-width: 999px) {
    body{
        overflow-x: hidden;
    }

    .apresentacao{
        width: 100%;
    }

    .container-image-grid{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .container-list-grid{
        width: 100%;
    }
}

/*Extra small devices*/
@media (min-width: 481px) and (max-width: 767px) {
    .apresentacao{
        width: 100%;
    }

    .conteudo{
        margin: 1rem;
    }

    .nav-list{
        position: absolute;
        top: 6.5vh;
        right: 0;
        width: 80vw;
        height: 92vh;
        background: #E2AA44;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        margin-top: 10px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding: 90px;
     }

     .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .paragrafo{
        font-size: 1.2rem;
    }

    .container-image-grid{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .container-list-grid{
        width: 100%;
    }

    .container_{
        width: 100%;
    }

    .text{
        justify-content: center;
    }

    .lines{
        width: 450px;
    }

    .line{
        width: 715px;
    }

    .container-ft{
        flex-direction: column-reverse;
        gap: 5rem;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .footer-content p{
        text-align: center;
    }
}

/*Mobile*/
@media (max-width: 480px) {
    .apresentacao{
        width: 100%;
    }

    .page-one{
        position: relative;
        top: 3.5rem;
    }

    .nav-list{
        position: absolute;
        top: 8.4vh;
        right: 0;
        width: 80vw;
        height: 92vh;
        background: #E2AA44;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding: 90px;
     }

     .nav-list li{
        margin-left: 0;
        margin-right: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .conteudo{
        margin: 15px;
    }

    .paragrafo{
        font-size: 1.2rem;
    }

    .container-image-grid{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .container-list-grid{
        width: 100%;
    }

    .container_{
        width: 100%;
    }

    .text{
        justify-content: center;
        text-align: center;
        font-size: 1.2rem;
    }

    .lines{
        width: 150px;
    }

    .line{
        width: 370px;
    }

    .box-tocha{
        width: 100%;
        gap: 10px;
    }

    .box-tocha-img img{
        width: 100%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .box-tocha-text h2{
        font-size: 1.5rem;
    }
    
    .box-tocha-text p{
        font-size: 0.6rem;
    }

    .box-mascot{
        width: 100%;
        gap: 10px;
    }

    .box-mascot-img img{
        width: 100%;
        position: relative;
        top: 8.5rem;
    }

    .box-mascot-text h2{
        font-size: 1.3rem;
    }

    .box-mascot-text p{
        font-size: 0.6rem;
    }

    .conteudo_locais{
        margin-top: 1rem;
    }

    .sub-titulo{
        font-size: 1.5rem;
    }

    .image_city{
        margin-top: 0;
    }

    .container-ft{
        flex-direction: column-reverse;
        gap: 5rem;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .footer-content p{
        text-align: center;
    }
}